@import url(../vendor/normalize.css);

@import url(../vendor/fonts/fonts.css);

.root {
  background-color: #f48980;
}

.content {
  position: relative;
  height: 90vh;
}

.attr-logo {
  position: fixed;
  right: 40px;
  bottom: 30px;
}

.header {
  height: 10vh;
  left: 0;
}

.trending-gifs {
  /* display: none; */
  background-color: black;
}

.wrapper {

  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}

.search-wrapper {
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}

.cardWrapper {
  border-radius: 10px;
  /* max-width: calc(100% / 3 - 20px);
  height: fit-content; */
  background-color: tomato;
}

.cardImg {
  object-fit: cover;
  max-width: 100%;
  display: block;
}

.random-gif__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.random-gif {
  background: rgb(189,225,216);
  background: linear-gradient(78deg, rgba(189,225,216,1) 0%, rgba(244,137,128,1) 100%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.tab-active {
  background-color: blue;
  cursor: default;
}

.search-gif {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.visually-hidden {
  display: none;
}
